.card{
    border: none;
    box-shadow: 2px 2px #ccc;
    width: 282px;
    padding: 0;
}

.cartaz{
    width: 100%;
}

.cardBody{
    margin-top: -10px;
    padding: 1em;
    background-color: #aaa;
    max-height: 100px;
    img{
        width: 1em;
    }
}