.cabecalho{
    padding: 1em 5em;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho nav{
    width: 100%;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.banner{
    width: 100vw;
}